@media only screen and (min-width: 1200px) {
	body,html {
		font-size: 60%;
	}

	.logo {
		text-align: center;
		position: fixed;
		left: 20px;
		top: 20px;
	}
}

@media only screen and (max-width: 1199px) and (min-width: 1024px) {
	body,html {
		font-size: 53%;
	}
	.meta li {
		line-height: 3.5rem;
	}
	.logo {
		text-align: center;
	}
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
	body,html {
		font-size: 53%;
	}
	.meta li {
		line-height: 3.6rem;
	}

	.sharebuttons {
		display: none;
	}

	div.wrapper, .container-fluid, .container {
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
	body,html {
		font-size: 50%;
	}

	.sharebuttons {
		display: none;
	}
	
	div.wrapper, .container-fluid, .container {
		padding-left: 0;
		padding-right: 0;
	}

	.meta li {
		line-height: 4rem;
	}
	.container-fluid, .container {
		padding-left: 0;
		padding-right: 0;
	}	
	div.sharebuttons {
		display: none;
	}

	.topnav {
		margin-top: 3rem;
		float: none;
		text-align: center;
	}

	.topnav ul li {
		font-size: 2.5rem;
		margin-left: 3rem;
		margin-right: 3rem;
		display: inline;
	}

	.avatarholder {
		display: none;
	}

	.commentlist li {
	  position: static;
	  padding-left: 0;
	}

	.comment-body p {
		font-size: 2rem;
	}

	.comment-body {
		min-height: 50px;
	}

	cite.fn {
		font-size: 2.2rem;
		margin-bottom: 1.5rem;
	}

	.comment-meta {
	  font-size: 1.6rem;
	}

	.reply {
	  border-top: 1px solid #ccc;
	  margin-bottom: 1.5rem;
	  padding-bottom: 1.5rem;
	  font-size: 1.5rem;
	}

}

@media only screen and (max-width: 479px) {
	body,html {
		font-size: 40%;
	}

	.sharebuttons {
		display: none;
	}

	p {
		font-size: 2.5rem;
	}

	footer .about p {
		font-size: 2.2rem;
	}

	div.wrapper, .container-fluid, .container {
		padding-left: 0;
		padding-right: 0;
	}

	.logo {
		text-align: center;
	}

	.meta li {
		line-height: 3.8rem;
		background-size: 24px 24px;
		padding-left: 35px!important;
	}

	.meta.small li {
		background-size: 16px 16px;
		padding-left: 25px!important;
		line-height: 2rem;
	}

	.noteslist .meta.small li {
		margin-bottom: 0;
	}

	h1 {
		font-size: 7rem;
		margin-bottom: 2rem;
	}

	div.sharebuttons {
		display: none;
	}

	.topnav {
		margin-top: 3rem;
		float: none;
		text-align: center;
	}

	.topnav ul li {
		font-size: 2.5rem;
		margin-left: 2rem;
		margin-right: 2rem;
		display: inline;
		text-align: center;
	}

	div.wrapper {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.post h2 {
		top: 0;
		margin-top: 10px;
	}

	.avatarholder {
		display: none;
	}

	.commentlist li {
	  position: static;
	  padding-left: 0;
	}

	.comment-body p {
		font-size: 2rem;
	}

	.comment-body {
		min-height: 50px;
	}

	cite.fn {
		font-size: 2.2rem;
		margin-bottom: 1.5rem;
	}

	.comment-meta {
	  font-size: 1.6rem;
	}

	.reply {
	  border-top: 1px solid #ccc;
	  margin-bottom: 1.5rem;
	  padding-bottom: 1.5rem;
	  font-size: 1.5rem;
	}

	.postlist li {
		font-size: 2.5rem;
		line-height: 140%;
		margin-bottom: 1.5rem;
	}

	.postlist li .date {
		display: block;
		font-size: 70%;
	}

ul.social-connect li {
	margin-right: 2rem;
}
}