body {
	font-family: 'PT Serif', 'Gentium Basic', serif;
	background-color: #f1f1f1;
}

input.searchbox {
	width: 150px;
	margin-right: 10px;	
}


h1,h2,h3,h4 {
	font-family: 'Roboto Condensed', 'sans-serif';
	font-weight: normal;
	font-weight: 700;
}

.postlist, .noteslist {
	margin-top: 3rem;
}

.post .span12 {
	margin-bottom: 3rem;
}

.postlist ul, .postlist li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.postlist li {
	font-family: 'Roboto Condensed', 'sans-serif';
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

.postlist li a {
	color: #333;
}

.postlist li .date {
	color: #999;
	font-size: 1.6rem;
}

div.intro p {
	font-size: 4.2rem;
	line-height: 140%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 4rem;
}

div.borderdiv {
	border-bottom: 1px solid #ccc;
}

.post h2 {
	position: relative;
	top: -8px;
	margin-top: 0;
	padding-top: 0;
	font-size: 4.2rem;
	line-height: 140%;
}

.image img {
	border: 5px solid #ededed;
}

.topnav ul, .topnav ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed';
	font-weight: 700;
	text-transform: uppercase;
}

.topnav ul li {
	font-size: 2rem;
	margin-right: 3rem;
	display: inline;
}

.topnav ul li a {
	color: #5a5a5a;
}

.topnav ul li.current-menu-item a {
	color: #4a4a4a;
}

div.wrapper {
	padding-left: 4rem;
	padding-right: 4rem;
	margin-left: auto;
	margin-right: auto;
}

::selection {
	text-shadow: none;
	color: white;
	background-color: #4a4a4a;
}

header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 4rem;
	margin-bottom: 4rem;
}

.container-fluid, .container {
	padding-top: 4rem;
	padding-right: 5rem;
	padding-left: 5rem;
}

.logo {
	text-align: center;
	padding-bottom: 4rem;
}

.post-content img {
	display: block;
	margin: 0 auto;
background-color: #F3F3F3;
border: 1px solid #ddd;
padding: 5px;
}

p {
	font-size: 2.2rem;
	line-height: 170%;
	margin: 0 0 2rem;
}

li {
 font-size: 2.2rem;
    line-height: 190%;
 }

.meta {
	margin-top: 1.5rem;
}

.meta ul, .meta li, .social ul, .social li {
	margin: 0;
	list-style: none;
	padding: 0;
}

.meta li {
	font-size: 2.6rem;
	line-height: 3.4rem;
	margin-bottom: 3rem;
}

.meta li.calendar {
	background-image: url('images/calendar.png');
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 45px
}

.meta li.tags {
	background-image: url('images/tag.png');
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 45px
}

.meta li.comments {
	background-image: url('images/comments.png');
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 45px
}

.meta.small li {
	font-family: 'Roboto Condensed', 'sans-serif';
	background-size: 24px 24px;
	padding-left: 35px!important;
	line-height: 2.6rem;
	font-size: 1.8rem;
	display: block;
	float: left;
	margin-right: 2rem;
	margin-bottom: 2rem;
}

.meta.small {
	margin-bottom: 0;
}

.noteslist .meta.small {
	margin-top: 0;
}

ul.social-connect, ul.social-connect li {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.social-connect li {
	float: left;
	margin-right: 1rem;
}

ul.social-connect li a {
	opacity: 0.4;
	-webkit-opacity: 0.4;
	-moz-opacity: 0.4;
	filter:alpha(opacity=40);
}

ul.social-connect li a:hover {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

.social {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.social li {
	display: inline;
	margin-right: 15px;
}

blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #ccc;
}

blockquote p {
	font-size: 2rem;
	line-height: 150%;
	font-style: italic;
}

p.preamble {
	font-size: 3rem;
	line-height: 150%;
	font-weight: bold;
}

h1 {
	font-size: 8.5rem;
	line-height: 120%;
	margin-bottom: 5rem;
}

h3, h4 {
	font-size: 3rem;
	line-height: 120%;
	margin-bottom: 3rem;
	margin-top: 5rem;
	font-size: 3rem;
	text-transform: uppercase;
}

.blogheader {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5rem;
}

img.lazy { display: none; }